:root {
  --bg-color: #fef6e4;
  --head-color: #001858;
  --button-color: #f582ae;
  --button-color2: #8bd3dd;
  --paragaph-color: #172c66;
  --button-text: #001858;



}

body {
  background-color: var(--bg-color);
}

#text {
  background-color: var(--paragaph-color);
  color: #ffffff;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: var(--bg-color);
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
}

#controls,
#stats {
  border: 1px solid var(--paragaph-color);
  padding: 5px;
  color: var(--head-color)
}

#monsterStats {
  display: none;
  border: 1px solid var(--head-color);
  padding: 5px;
  color: var(--bg-color);
  background-color: var(--head-color);
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: var(--button-text);
  background-color: var(--button-color);
  background-image: linear-gradient(var(--button-color), var(--button-color2));
  border: 3px solid var(--button-color);
}